.header {
  margin-top: 20px;
  background-color: white;
  font-size: 18px;
}
.header, body {
  padding: 0;
  height: 100%;
}
body {
  width: 100%;
  margin: 0;
  background: linear-gradient(to bottom, red, yellow, blue);
}
